body {
  width: 80%;
  max-width: 42em;
  margin: auto;
  font: bold 21px Georgia, serif;
}
h1 {
  font-weight: normal;
}
pre {
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
figure div,
figure span {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
figure div {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 9%;
  border: 3px solid #000;
  border-radius: .5em;
  background: #fff;
}
figure .right-bottom {
  margin-right: 0;
}
figure span {
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 1px;
  border: 3px solid #555;
  border-radius: .7em;
  background: #ddd;
}
.web-only p {
  margin: 0;
  text-align: center;
  font-size: 17px;
}
figure:hover div {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
figure:hover span {
  -webkit-transform: rotate(-450deg);
  -moz-transform: rotate(-450deg);
  -ms-transform: rotate(-450deg);
  -o-transform: rotate(-450deg);
  transform: rotate(-450deg);
}
figure .left-top span {
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
}
figure .left-bottom span {
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-border-top-bottom-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}
figure .right-top span {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
}
figure .right-bottom span {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
}
